# Build and packaging
*.egg-info/
build/
dist/

# Ignore all __pycache__ directories
__pycache__/    

# Dev & Virtual environment
.vscode/
venv/

# Tests
.coverage
htmlcov/

# DebiAI
debiai_data/
simple_project.py
easy_parquet_test.py
